// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #cc2d2d;

body {
  background: green; // Using this variable
}

.banner {
    background: red;
    h1 {
      font-size: 50px;
    }
  }

  a {
    color:blue;
    &:hover {
      color: red;
    }
  }